<div class="config">
    <div class="row" ng-controller="HomeController">        
            <table class="table table-hover">
                <tbody>
                    <tr ng-repeat="data in records">
                        <td><a href="#/qlik-sense">{{data.title | uppercase}}<img src="{{data.image}}" class="img-rounded ng-scope" alt="{{data.title}}" style="margin: 0px 0px 5px 5px;float: left;" width="25" height="25"></a></td>
                    </tr>
                </tbody>
            </table>        
    </div>   
</div>



