<!-- Page Content -->

<div class="container" ng-controller="QlikSenseController">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Work
                <small>What i Do</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="#/">Home</a>
                </li>
                <li>
                    <a href="#/work">Work</a>
                </li>
                <li class="active">Qlik Sense</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <input typeof="text" class="form-control" placeholder="search" ng-model="globalSearch.$">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Title</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="qlikdata in data | filter:globalSearch">
                        <td><button type="button" class="btn btn-success" ng-click="openDocument(qlikdata.url)">{{qlikdata.title}}</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-3">
            <div class="wrapper">
                <!--<h1>{{pdfName}}</h1>-->
                <ng-pdf template-url="app/qlik-sense/viewer.html" canvasid="pdf" scale="page-fit" page=1></ng-pdf>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->
